 *{
    margin: 0;
    padding: 20;
    box-sizing: border-box;
   font-family: sans-serif;


}
header{
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 100;
}

#btn-menu{
    display: none;
}
header label{
    display: none;
    width: 60px;
    padding: 20px;
    color: gray;
    font-size: 30px;
    transition: all 500ms ease;
}
header label:hover{
    background-color: #e8e9eb;
    cursor: pointer;

}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}
.menu li a {
    text-decoration: none;
    color: gray;
    display:block;
    padding: 15px 20px;
    transition: all 500ms ease;
}
.menu li a:hover{
 background-color: #e8e9eb;   
}
@media(max-width:768px){
    header label{
        display:block;
    }
    .menu{
        position:absolute;
        background:white;
        width:100%;
        margin-top:-100%;
        transition:all 0.6s;
    }
    .menu ul{
        flex-direction:column;
        border-top: 1px solid #fffa;
    }
    .menu li{
    }
    #btn-menu:checked ~ .menu{
        margin:0;
    }
}